@import  "https://fonts.googleapis.com/css?family=Raleway:400,500,800";

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova',sans-serif;
    font-weight: regular;
    font-size: 16px;
    line-height: 1.4em;
}

img {
    max-width: 100%;
}

/* Typography */
h1 {
    color: #fff;
    size: 90px;
}

a {
    color: #ffc0cb;
    text-decoration: none;
    background-color: none;
    border-color: ;
    border-width: ;
}

a:hover {
    color: #000;
    size: 15px;
    background-color: #fff;
    border-color: #000;
    border-width: thick;
}

/* Header + Navigation */
header {
    width: 100%;
    margin: 0;
    padding: 5px;
    position: fixed;
    top: 0;
}

header nav ul li a.active {
    color: #fff;
    border-color: ;
    border-width: ;
}

header h1 {
    float: left;
    font-size: 2em;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

header nav ul li a {
    font-size: 2em;
}

/* Layout */
.container {
    max-width: 980px;
    margin: 60px auto;
    width: 30%;
    height: 1365px;
}

ul.thumbnails {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.thumbnails li.thumb {
    margin: 15px;
    width: 280px;
}

ul.thumbnails li.thumb a img {
    transition: all .5s ease;
    -webkit-transitions: all .5s ease;
}

ul.thumbnails li.thumb a:hover img {
    filter: saturate(5px);
    -webkit-filter: saturate(5px);
}

/*div*/
.info {
    font-size: 20px;
    text-align: left;
    width: 50%;
    height: 500px;
    background: #dc7b8b;
    color: #000;
    font-family: 'Proxima Nova',sans-serif;
    padding: 0 10px 50px 80px;
}

.inforight {
    font-size: 20px;
    align: right;
    width: 50%;
    height: 1200px;
    background: #fff;
    color: #fff;
    font-family: 'Proxima Nova',sans-serif;
    display: flex;
    padding: 20px 10px 50px 80px;
}

#left {
    float: left;
    width: 50%;
    height: 1200px;
    overflow: hidden;
    background: #dc7b8b;
    padding: 20px 10px 50px 80px;
}

#right {
    float: left;
    width: 50%;
    background-color: ;
    overflow: hidden;
    padding: 20px 10px 50px 80px;
}

/*content*/
.content
img {
    margin-bottom: 10px;
}

/* Footer */
footer {
    max-width: 980px;
    margin: 30px auto;
    text-align: center;
}

/*slider*/
/*@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
  z-index: -1;
}

/*image hover + link*/
figure.snip1455 {
    font-family: 'Raleway',Arial,sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 230px;
    max-width: 315px;
    max-height: 230px;
    width: 100%;
    color: #fff;
    text-align: left;
    background-color: #07090c;
    font-size: 16px;
}

figure.snip1455 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

figure.snip1455 img {
    max-width: 100%;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    backface-visibility: hidden;
}

figure.snip1455 figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: scale(0.5) translate(0%,-50%);
    transform: scale(0.5) translate(0%,-50%);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    z-index: 1;
    opacity: 0;
    padding: 0 30px;
}

figure.snip1455 h3,figure.snip1455 p {
    line-height: 1.5em;
}

figure.snip1455 h3 {
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
}

figure.snip1455 p {
    font-size: .8em;
    font-weight: 500;
    margin: 0 0 15px;
}

figure.snip1455 .read-more {
    border: 2px solid #fff;
    padding: .5em 1em;
    font-size: .8em;
    text-decoration: none;
    color: #ffc0cb;
    display: inline-block;
}

figure.snip1455 .read-more:hover {
    background-color: #fff;
    color: #000;
}

figure.snip1455:hover img,figure.snip1455.hover img {
    -webkit-animation: snip1455 .45s linear forwards;
    animation: snip1455 .45s linear forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

figure.snip1455:hover figcaption,figure.snip1455.hover figcaption {
    -webkit-transform: scale(1) translate(0,-50%);
    transform: scale(1) translate(0,-50%);
    opacity: 1;
    -webkit-transition-delay: .35s;
    transition-delay: .35s;
}

@keyframes snip1455 {
    50% {
        -webkit-transform: scale(0.8) translateX(0%);
        transform: scale(0.8) translateX(0%);
        opacity: .5;
    }

    100% {
        -webkit-transform: scale(0.8) translateX(150%);
        transform: scale(0.8) translateX(150%);
        opacity: .5;
    }
}

/* Demo purposes only */
body {
    background-color: #212121;
}

/* Media Queries */
@media screen and (max-width: 780px) {
    header nav {
        position: fixed;
        float: left;
        bottom: 20px;
    }

    header nav ul li {
        margin: 0 0 5px;
        display: block;
    }

    .content {
        padding: 20px;
    }

    textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
/*scroll image */
